body
{
    text-align: center;
    align-items: center;
}

#canv
{
    position: relative;
    top: 150px;
    right: 150px;
    background-image: url("../js/img/back.png");
    border: 1px black;
    z-index: 1;
}


.popupboutton
{
    position: relative;
    padding: 20px 44px;
    border: none;
    outline: none;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0,0 .1);
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    z-index: 1;  
}

#register
{
    bottom:1000px;
    left: 210px;
    background-color: #8b6242;
    color: #362315;
}

#login
{
    bottom:1000px;
    left: 1900px;
    background-color: #8b6242;
    color: #362315;
}

.popupcontainer
{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    z-index: 3;
}

.popupcontainer.on
{
    opacity: 1;
    pointer-events: auto;
    transition: .4s ease;
}

.popupcontainer .popupbox
{
    width: 500px;
    background-color: #8b6242;
    border-radius: 8px;
    box-shadow: 0 0 10 rgba(0, 0, 0,.1);
    padding: 30px;
    transform: scale(0);
}

.popupcontainer.on .popupbox
{
    transform: scale(1);
    transition: .4s ease;
    transition-delay: .25s;
}

.popupbox h1
{
    color: black;
    line-height: 1;
}

.popupbox p 
{
    text-align: left;
    font-size: 22px;
    color: black; 
    margin: 12px 0 20px;
}

.popupcontainer label .popuptext
{
    position: relative;
    top: 10px;
    resize: none;
    border-radius: 2px;
    border: none;
    margin-bottom: 30px;
    border-bottom: 2px solid #fff;
    background-color: rgba(0, 0, 0, 0);
    border-color: #362315;
    text-align: left;
    outline: none;
    justify-content: center;
    align-self: center;
    font-size: 18px;
}

.popupbox label .popuptext + span
{
    color: rgba(0, 0, 0,.5);
    cursor: text;
    transition: 0.3s ease;
    padding: 20px 05px 05px 10px;
}

.popupbox label #username + span
{
    position: absolute;
    left: 150px;
    top: 77px;
}

.popupbox label #username:placeholder-shown + span
{
    top: 97px;
    font-size:0.9em;
}

.popupbox label #mail + span
{
    position: absolute;
    left: 150px;
    top: 147px;
}

.popupbox label #mail:placeholder-shown + span
{
    top: 171px;
    font-size:0.9em;
}

.popupbox label #Password + span
{
    position: absolute;
    left: 150px;
    top: 225px;
}

.popupbox label #Password:placeholder-shown + span
{
    top: 245px;
    font-size:0.9em;
}

.popupbox label #Password2 + span
{
    position: absolute;
    left: 150px;
    top: 147px;
}

.popupbox label #Password2:placeholder-shown + span
{
    top: 171px;
    font-size:0.9em;
}

.popupbox label #RPassword + span
{
    position: absolute;
    left: 150px;
    top: 297px;
}

.popupbox label #RPassword:placeholder-shown + span
{
    top: 320px;
    font-size:0.9em;
}

.popupbox .close 
{
    width: 10%;
    height: 45px;
    background-color: rgb(66, 28, 4);
    border-radius: 6px;
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0,0 .1);
    cursor: pointer;
    color: antiquewhite;
    font-weight: 500;
}

.popupbox #Rclose
{
    font-size: 20px;
    position: relative;
    bottom: 380px;
    left: 310px;
} 

.popupbox #Lclose
{
    font-size: 20px;
    position: relative;
    bottom: 230px;
    left: 310px;
}

.popupbox label .submit
{
    width: 30%;
    height: 40px;
    border-radius: 6px;
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0,.1);
    background-color: #5a371e;
}

.popupbox label #loginsubmit
{
    position: relative;
    right: 25px;
}

.popupbox label #registersubmit
{
    position: relative;
    right: 25px;
}