{% load static %}

<script class="game_class_script" src="{% static 'js/pong/racket.js'%}"></script>
<script class="game_class_script" src="{% static 'js/pong/balle.js'%}"></script>
<script class="game_script" src="{% static 'js/pong/pong_socket.js'%}"></script>
<script class="game_script" src="{% static 'js/pong/socket_response.js'%}"></script>
<script class="game_script" src="{% static 'js/pong/lobby.js'%}"></script>
<script class="game_script" src="{% static 'js/pong/new_main.js'%}"></script>

<script class="navbar_script" src="{% static 'js/main_page/navbar.js' %}"></script>
<script class="profile_script" src="{%static 'js/main_page/profile.js'%}"></script>
<script class="navigation_script" src="{% static 'js/main_page/navigation.js' %}"></script>

<script class="auth_script" src="{% static 'js/authentication/page_display.js' %}"></script>
<script class="auth_script" src="{% static 'js/authentication/popup_handler.js' %}"></script>
<script class="auth_script" type="module" src="{% static 'js/authentication/42_api.js' %}"></script>

<script class="social_script" src="{% static 'js/social/social_ws_handler.js' %}"></script>
<script class="social_script" src="{% static 'js/social/create_lists.js' %}"></script>
<script class="social_script" src="{% static 'js/social/update_lists.js' %}"></script>

<script class="ws_script" src="{% static 'js/ws_init.js' %}"></script>

<script class="2fa_script" src="{% static 'js/2fa.js' %}"></script>

<script class="local_game_script" src="{% static 'js/pong/local/local_main.js' %}"></script>
<script class="local_game_class_script" src="{% static 'js/pong/local/local_ball.js' %}"></script>
<script class="local_game_class_script" src="{% static 'js/pong/local/local_racket.js' %}"></script>
